/* OzdemirGPUIThemePack — FluentDarkGreen */
:root {
  --name: "FluentDarkGreen";
  --mode: dark;
  --radius: 4px;
  --radius-lg: 8px;
  --shadow: none;
  --background: #202020ff;
  --foreground: #ffffffff;
  --border: #00000019;
  --input-border: #ffffff18;
  --muted-background: #ffffff0f;
  --muted-foreground: #ffffffc5;
  --accent-background: #ffffff0f;
  --accent-foreground: #ffffffff;
  --primary-background: #4b9c4bff;
  --primary-hover-background: #278927ff;
  --primary-active-background: #107c10ff;
  --primary-foreground: #000000ff;
  --secondary-background: #ffffff15;
  --secondary-hover-background: #ffffff08;
  --secondary-active-background: #ffffff0f;
  --secondary-foreground: #ffffffff;
  --button-background: #ffffff0f;
  --button-hover-background: #ffffff15;
  --button-active-background: #ffffff08;
  --button-foreground: #ffffffff;
  --button-primary-background: #4b9c4bff;
  --button-primary-hover-background: #278927ff;
  --button-primary-active-background: #107c10ff;
  --button-primary-foreground: #000000ff;
  --button-secondary-background: #ffffff15;
  --button-secondary-hover-background: #ffffff08;
  --button-secondary-active-background: #ffffff0f;
  --button-secondary-foreground: #ffffffff;
  --danger-background: #ff99a4ff;
  --danger-hover-background: #ff99a4ff;
  --danger-active-background: #ff99a4ff;
  --danger-foreground: #000000ff;
  --button-danger-background: #ff99a4ff;
  --button-danger-hover-background: #ff99a4ff;
  --button-danger-active-background: #ff99a4ff;
  --button-danger-foreground: #000000ff;
  --warning-background: #fce100ff;
  --warning-hover-background: #fce100ff;
  --warning-active-background: #fce100ff;
  --warning-foreground: #000000ff;
  --button-warning-background: #fce100ff;
  --button-warning-hover-background: #fce100ff;
  --button-warning-active-background: #fce100ff;
  --button-warning-foreground: #000000ff;
  --success-background: #6ccb5fff;
  --success-hover-background: #6ccb5fff;
  --success-active-background: #6ccb5fff;
  --success-foreground: #000000ff;
  --button-success-background: #6ccb5fff;
  --button-success-hover-background: #6ccb5fff;
  --button-success-active-background: #6ccb5fff;
  --button-success-foreground: #000000ff;
  --info-background: #107c10ff;
  --info-hover-background: #278927ff;
  --info-active-background: #107c10ff;
  --info-foreground: #000000ff;
  --button-info-background: #107c10ff;
  --button-info-hover-background: #278927ff;
  --button-info-active-background: #107c10ff;
  --button-info-foreground: #000000ff;
  --link: #4b9c4bff;
  --link-hover: #278927ff;
  --link-active: #107c10ff;
  --selection-background: #107c1066;
  --caret: #ffffffff;
  --ring: #ffffffff;
  --title_bar-background: #202020ff;
  --title_bar-border: #00000019;
  --window-border: #1c1c1cff;
  --popover-background: #2c2c2cff;
  --popover-foreground: #ffffffff;
  --switch-background: #ffffff8b;
  --switch-thumb-background: #454545ff;
  --slider-background: #ffffff08;
  --slider-thumb-background: #ffffff8b;
  --progress-bar-background: #4b9c4bff;
  --scrollbar-background: #00000019;
  --scrollbar-thumb-background: #ffffff0b;
  --scrollbar-thumb-hover-background: #ffffff12;
  --drag-border: #107c10ff;
  --drop_target-background: #ffffff0a;
  --overlay: #0000004d;
  --list-background: #2c2c2cff;
  --list-hover-background: #ffffff0f;
  --list-active-background: #ffffff0a;
  --list-even-background: #ffffff0d;
  --list-head-background: #2c2c2cff;
  --group_box-background: #3a3a3a4c;
  --group_box-foreground: #ffffffc5;
  --skeleton-background: #ffffff0f;
}
